<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>

<div class="row">

  <div class="col">

    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>Text</th>
          <th>Pipe</th>
          <th>Exit</th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <td>{{ name2 }}</td>
          <td>capitalized</td>
          <td>{{ name2 | capitalized:true }}</td>
        </tr>

        <tr>
          <td>{{ name }}</td>
          <td>uppercase</td>
          <td>{{ name | uppercase }}</td>
        </tr>

        <tr>
          <td>{{ name }}</td>
          <td>lowercase</td>
          <td>{{ name | lowercase }}</td>
        </tr>

        <!-- Remove the first three letters -->
        <tr>
          <td>{{ name }}</td>
          <td>slice:3</td>
          <td>{{ name | slice:3 }}</td>
        </tr>

        <!-- Leave the first three letters -->
        <tr>
          <td>{{ name }}</td>
          <td>slice:0:3</td>
          <td>{{ name | slice:0:3 }}</td>
        </tr>

        <!-- Leave the specified positions -->
        <tr>
          <td>{{ name }}</td>
          <td>slice:1:5</td>
          <td>{{ name | slice:1:5 }}</td>
        </tr>

        <!-- Number: integer part -->
        <tr>
          <td>{{ PI }}</td>
          <td>number:'3.0-0'</td>
          <td>{{ PI | number:'3.0-0' }}</td>
        </tr>

        <!-- Number: decimal part -->
        <tr>
          <td>{{ PI }}</td>
          <td>number:'.0-2'</td>
          <td>{{ PI | number:'.0-2' }}</td>
        </tr>

        <tr>
          <td>{{ percentage }}</td>
          <td>percent:'2'</td>
          <td>{{ percentage | percent:'2.2-2' }}</td>
        </tr>

        <tr>
          <td>{{ salary }}</td>
          <td>currency</td>
          <td>{{ salary | currency }}</td>
        </tr>

        <tr>
          <td>{{ salary }}</td>
          <td>currency:'EUR'</td>
          <td>{{ salary | currency:'EUR' }}</td>
        </tr>

        <tr>
          <td>{{ salary }}</td>
          <td>currency:'CAD'</td>
          <td>{{ salary | currency:'CAD $':'symbol-narrow':'.0-0' }}</td>
        </tr>

        <!-- With promise async -->
        <tr>
          <td>{{ valuePromise }}</td>
          <td>async</td>
          <td>{{ valuePromise | async }}</td>
        </tr>

        <tr>
          <td>{{ date }}</td>
          <td>date:'medium'</td>
          <td>{{ date | date:'medium' }}</td>
        </tr>

        <tr>
          <td>{{ date }}</td>
          <td>date:'short'</td>
          <td>{{ date | date:'short' }}</td>
        </tr>

        <tr>
          <td>{{ date }}</td>
          <td>date:'MMMM - dd'</td>
          <td>{{ date | date:'MMMM - dd' }}</td>
        </tr>

        <tr>
          <td>{{ date }}</td>
          <td>
            date:'MMMM - dd':'':'{{ language }}'
            <br>
            <button (click)="language = 'en'" class="mr-1 btn btn-primary">English</button>
            <button (click)="language = 'es'" class="mr-1 btn btn-secondary">Spanish</button>
            <button (click)="language = 'fr'" class="mr-1 btn btn-success">French</button>
          </td>
          <td>{{ date | date:'MMMM - dd':'':language }}</td>
        </tr>

        <tr>
          <td>{{ name }}</td>
          <td>
            password:{{ enable }}
            <br>
            <button (click)="enable = !enable" class="btn btn-outline-primary">Enable/Disable</button>
          </td>

          <!-- With Pipe -->
          <td>{{ name | password:enable }}</td>

          <!-- With method -->
          <!-- <td>{{ getPassword() }}</td> -->
        </tr>

      </tbody>

    </table>

    <h3>Slice <small>slice:1:4</small></h3>
    <hr>
    <ul>
      <li *ngFor="let character of characters">{{ character }}</li>
    </ul>

    <h3>JSON</h3>
    <hr>
    <div class="row mb-5">
      <div class="col">
        <pre>
          {{ hero | json }}
        </pre>
      </div>
    </div>

  </div>
</div>


<h3 class="mt-4">Domsecurity</h3>
<hr>

<div class="row mb-5">

  <div class="col">

    <iframe width="560" height="315" [src]="videoLink | domsecurity" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>
