/* You can add global styles to this file, and also import other style files */
body::-webkit-scrollbar {
  width: 3px;
  /* width of the entire scrollbar */
}


body::-webkit-scrollbar-track {
  background: rgba(9, 9, 9, 0.292);
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #1ED760;
  /* color of the scroll thumb */
  border-radius: 10px;
  width: 5px
}

html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
  background-color: #00000090;
  background-image: url('assets/image/austin-opacity.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white !important;
}

hr {
  border-color: white;
}

.pointer {
  cursor: pointer;
}

.puntero {
  cursor: pointer;
}

.img-circle {
  border-radius: 100%;
  width: 150px;
}

.card-title,
.card-text {
  color: black;
}

.badge {
  margin-left: 5px;
}

.btn-outline-success {
  margin-left: 5px;
}

.img-thumb {
  width: 50px;
  height: 50px;
}


/* Animaciones */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.table>tbody>tr>td {
  vertical-align: middle;
}

a {
  color: #1ED760;
}

a:hover {
  color: #FFFFFF;
}

.alert-info-light {
  background-color: #ffffffcc;
  color: black;
  text-align: center;
  padding: 2rem 0 1.5rem 0;
}

.card-container .img-container .img-hover {
  -webkit-transform: scale(1);
  transform: scale(1);
  filter: opacity(1);
  transition: 1s;
}

.card-container:hover .img-container .img-hover {
  -webkit-transform:scale(1.3);
  transform:scale(1.3);
  filter: opacity(.5);
  transition: 1s;
}

.img-container {
  overflow: hidden;
}
