<h4>Forms <small> Template </small></h4>
<hr />
<form (ngSubmit)="save(formTemplate)" autocomplete="off" #formTemplate="ngForm">
  <div class="form-group row mb-3">
    <label class="col-2 col-form-label">Firstname</label>
    <div class="col-8">
      <input
        class="form-control is-invalid"
        type="text"
        name="firstname"
        placeholder="Firstname"
        minlength="5"
        required
        [class.is-invalid]="firstname.touched && firstname.invalid"
        [(ngModel)]="user.firstname"
        #firstname="ngModel"
      />

      <small
        *ngIf="firstname.touched && firstname.invalid"
        class="form-text text-danger"
      >
        Firstname requires that it be more than 5 characters
      </small>
    </div>
  </div>

  <div class="form-group row mb-3">
    <label class="col-2 col-form-label">Lastname</label>
    <div class="col-8">
      <input
        class="form-control is-invalid"
        type="text"
        name="lastname"
        placeholder="Lastname"
        minlength="5"
        required
        [(ngModel)]="user.lastname"
        [class.is-invalid]="lastname.touched && lastname.invalid"
        #lastname="ngModel"
      />

      <small
        *ngIf="lastname.touched && lastname.invalid"
        class="form-text text-danger"
      >
        Lastname requires that it be more than 5 characters
      </small>
    </div>
  </div>

  <div class="form-group row mb-3">
    <label class="col-2 col-form-label">E-mail</label>
    <div class="col-8">
      <input
        class="form-control is-invalid"
        type="email"
        name="email"
        placeholder="E-mail"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
        required
        [class.is-invalid]="email.touched && email.invalid"
        [(ngModel)]="user.email"
        #email="ngModel"
      />

      <small
        *ngIf="email.touched && email.invalid"
        class="form-text text-danger"
      >
        The email format is not correct
      </small>
    </div>
  </div>

  <div class="form-group row mb-3">
    <label class="col-2 col-form-label">Country</label>
    <div class="col-8">
      <select
        class="form-select is-invalid"
        name="country"
        [disabled]="countries.length === 0"
        required
        [class.is-invalid]="country.touched && country.invalid"
        [(ngModel)]="user.country"
        #country="ngModel"
      >
        <option *ngFor="let country of countries" [value]="country.code">
          {{ country.name }}
        </option>
      </select>

      <small
        *ngIf="country.touched && country.invalid"
        class="form-text text-danger"
      >
        Select a country
      </small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Gender</label>
    <div class="col-8 pt-2">
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="gender"
          id="male"
          value="M"
          required
          [class.is-invalid]="gender.touched && gender.invalid"
          [(ngModel)]="user.gender"
          #gender="ngModel"
        />
        <label class="form-check-label" for="male"> Male </label>
      </div>

      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="gender"
          id="female"
          value="F"
          required
          [class.is-invalid]="gender.touched && gender.invalid"
          [(ngModel)]="user.gender"
          #gender="ngModel"
        />
        <label class="form-check-label" for="female"> Female </label>
      </div>

      <small
        *ngIf="country.touched && country.invalid"
        class="form-text text-danger"
      >
        Select a country
      </small>
    </div>
  </div>

  <div class="form-group row mt-4">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="col-8">
      <button type="submit" class="btn btn-outline-primary w-100">SAVE</button>
    </div>
  </div>
</form>
