<h1>Hero <small>Hero name</small></h1>
<hr />

<div class="row text-end">
  <div class="col">
    <button type="button" class="btn btn-danger" [routerLink]="['heroes']">
      <i class="fa-solid fa-arrow-left"></i>
      Back
    </button>
  </div>
</div>

<div class="row animated fadeIn fast">
  <div class="col">
    <form autocomplete="off" (ngSubmit)="save(formHero)" #formHero="ngForm">
      <div class="form-group">
        <label for="id">Firebase ID</label>
        <input
          type="text"
          class="form-control"
          name="id"
          placeholder="Firebase ID"
          disabled
          [(ngModel)]="hero.id"
        />
        <small class="form-text text-muted">This field is self-generated</small>
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          placeholder="Name"
          required
          [(ngModel)]="hero.name"
        />
      </div>

      <div class="form-group">
        <label for="power">Power</label>
        <input
          type="text"
          class="form-control"
          name="power"
          placeholder="Power"
          required
          [(ngModel)]="hero.power"
        />
      </div>

      <div class="form-group">
        <label for="live">Status</label>
        <br>
        <button
          type="button"
          class="w-50 btn btn-outline-success"
          *ngIf="hero.live"
          (click)="hero.live = false"
        >
          <i class="fa-solid fa-face-smile"></i>
          Live
        </button>

        <button
          type="button"
          class="w-50 btn btn-outline-danger"
          *ngIf="!hero.live"
          (click)="hero.live = true"
        >
          <i class="fa-solid fa-face-dizzy"></i>
          Dead
        </button>
      </div>

      <hr />

      <div class="form-group text-center">
        <button type="submit" class="w-25 btn btn-dark">
          <i class="fa-solid fa-save"></i>
          Save
        </button>
      </div>
    </form>
  </div>
</div>
